.container {
  display: flex;
  width: 80vw;
  margin: 3rem auto 6rem;
  justify-content: space-between;
  align-items: center;
}

.container p:last-child {
  margin: 0;
}

.CTA {
  font-size: 3.8rem;
  max-width: 44vw;
}

.details {
  line-height: 1.5;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 95vw;
    margin: 1rem 0.5rem 3rem;
  }

  .CTA {
    max-width: none;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
}
