.hero {
  background-image: url("/2022-07.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  max-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  transition: 1s ease;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 8.6rem;
  color: white;
  text-transform: uppercase;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    max-width: none;
    font-size: 6.2rem;
  }
}
