.hero {
  background-image: url('/2022-07.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 36rem;
  max-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  transition: 1s ease;
}

.title {
  line-height: 1.15;
  font-size: 4.5rem;
  color: red;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 14rem;
}

@media (max-width: 600px) {
  .hero {
    min-height: 24rem;
  }
  .title {
    max-width: none;
    font-size: 3.2rem;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
}
