.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 8.6rem;
  color: white;
  text-transform: uppercase;
  max-width: 80vw;
  margin: 0 auto;
}

.hero {
  background-image: url("/2022-07.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.celebrate {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
}
