.rsvp {
  margin-top: 1rem;
  padding: 2rem;
  background-color: #3c162f;
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.9px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.rsvp:hover {
  color: ff6d00;
}
